name: Test Get Calendar

on:
  workflow_dispatch:
    inputs:
      room_id:
        description: 'Room ID Airbnb (ex: 30931885)'
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run calendar test
        env:
          ROOM_ID: ${{ github.event.inputs.room_id }}
        run: |
          python test_calendar.py
